body{
    background-color: rgb(37,45,55);
    color: white;
    align-items: center;
    display: flex;
}
.main{
    padding-top: 15%;
}
.time{
    background-color: turquoise;
    font-family: DigitalClockFont;
    font-size: 150px;
    height: 100%;
}
.title{
    background-color: rgb(51, 196, 181);
    height: 30%;
    font-size: 30px;
    padding: 15px;
}

@font-face {
    font-family: DigitalClockFont;
    src: url(digital-7.ttf);
  }
  .status{
      background-color: salmon;
      color: white;
  }
  .st{
    background-color: rgb(243, 110, 95);
}